@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: #bdb3ff;
}
header {
  height: 70px;
  background-color: #8573ff;
}
/* ======================================================== */
/* =================HEADER=========================== */
header .logo a img {
  width: 220px;
  position: absolute;
}
header nav ul {
  float: right;
  margin-right: 30px;
  height: 70px;
}
header nav li {
  display: inline-block;
  padding: 30px;
  line-height: 20px;
}
header nav ul li a {
  position: relative;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: rgb(182, 182, 182);
}
header nav ul li a:hover {
  color: white;
}
header nav ul li a:after {
  content: "";
  position: absolute;
  background-color: coral;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -9px;
  transition: 0.4s;
}
header nav ul li a:hover:after {
  width: 100%;
}
/* ======================================================== */
/* =================FOOTER=========================== */
.footer {
  background-color: #8573ff;
  height: 100px;
  margin-top: 200px;
}
.footer p {
  padding-top: 40px;
  text-align: center;
  font-size: 15px;
}
.footer img {
  width: 10px;
}
.footer .icon {
  text-align: center;
}
.footer .icon img {
  width: 30px;
}
/* ======================================================== */
/* =================Container=========================== */
.container {
  margin: auto;
  background-image: url("img/img_back.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.container img {
  display: block;
  margin: auto;
  width: 30%;
}
/* ======================================================== */
/* =================CONTEN HOME=========================== */
.content .home img {
  margin-right: 50px;
  float: right;
  width: 500px;
}
.content .home h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
}
.content .home p {
  margin-left: 50px;
  text-align: justify;
  font-size: 25px;
}
.content .home .langkah {
  margin-top: 120px;
}
.content .home .tanggal,
.pakaian,
.delivery {
  margin-top: 100px;
  margin-bottom: 150px;
}
.content .home .tanggal img,
.content .home .delivery img {
  float: left;
  width: 20%;
}
.content .home .tanggal h2,
.content .home .pakaian h2 {
  text-align: center;
  font-size: 35px;
  margin-top: 100px;
}
.content .home .tanggal p,
.content .home .pakaian p,
.content .home .delivery p {
  font-size: 25px;
  text-align: justify;
  margin-right: 50px;
}
.content .home .pakaian img {
  float: right;
  width: 20%;
}
/* ======================================================== */
/* =================CONTEN Service=========================== */
.content .services img {
  margin-right: 50px;
  float: left;
  width: 500px;
}
.content .services h2 {
  margin-top: 150px;
  text-align: center;
  font-size: 50px;
}
.content .services p {
  margin-left: 50px;
  text-align: justify;
  margin-right: 10px;
  font-size: 20px;
}
.content .about {
  margin-left: 20px;
}
/* ======================================================== */
/* =================CONTEN ABOUT=========================== */
.content .about h2 {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
}
.content .about p {
  text-align: justify;
}
.content .about .visi-misi {
  font-size: 25px;
}
.content .about p {
  font-size: 20px;
}
.content .about ol li {
  margin-left: 20px;
  font-size: 20px;
}
marquee {
  background-color: rgb(248, 211, 141);
  color: red;
  text-transform: uppercase;
}
/* ======================================================== */
/* =================CONTEN ORDER=========================== */
.content .order {
  width: 50%;
  margin: auto;
}
.content .order input[type="text"],
.content .order input[type="password"],
.content .order input[type="date"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
